## Dataset Week 3 

### Cleaning and correlation

#### Import Lib

In [36]:
import pandas as pd
#import matplotlib.pyplot as plt

#### Create the Dataset and Load it

In [37]:
data = {
    "calories": [420,380,390,230],
    "duration":[50,40,45,20],
    "heartbeat":[120,110,115,90]
}

df = pd.DataFrame(data)

## Print the Dataset

In [38]:
print(df)

   calories  duration  heartbeat
0       420        50        120
1       380        40        110
2       390        45        115
3       230        20         90

In [39]:
print (df.loc[0]) # print the first row of the data frame
print (df.loc[[0,3]]) # print the first and 2nd row of the data frame
print(df["heartbeat"]) #

calories     420
duration      50
heartbeat    120
Name: 0, dtype: int64
   calories  duration  heartbeat
0       420        50        120
3       230        20         90
0    120
1    110
2    115
3     90
Name: heartbeat, dtype: int64

### Save Data to CSV

In [40]:
df = pd.DataFrame (data, index = ["day1","day2","day3","day4"])
print(df.to_string())
print (df.loc["day1"]) # print the first row of the data frame
df.to_csv(r'Data/dataframe with no indexes no header.csv',index=False, header = False) # will save data only without in
df.to_csv(r'Data/dataframe with no indexes with header.csv',index=False, header = True) # will save data without indexe
df.to_csv(r'Data/dataframe with indexes and header.csv',index=True, header = True) # will save data with indexes and he

      calories  duration  heartbeat
day1       420        50        120
day2       380        40        110
day3       390        45        115
day4       230        20         90
calories     420
duration      50
heartbeat    120
Name: day1, dtype: int64

#### Load data.csv file

In [41]:
df_data = pd.read_csv(r'Data/data.csv')

#### Print the new Dataset

In [42]:
print(df_data)
print(df_data.head(5))
print(df_data.loc[[0,1,2,3,4]])
print(df_data.head(10))
print(df_data.tail(10))
print(df_data.info())
print(df_data.describe())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0
     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None
         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

### Replace Null values and save as new File

In [43]:
df_data.dropna(inplace = True)
print(df_data.info())
df_data.to_csv(r'Data/data without empty values.csv',index=False, header = True)

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB
None

### Replace Non Values with 130

In [44]:
df.fillna(130, inplace = True)
df.to_csv(r'Data/data with empty values 130.csv',index=False, header = True)
print(df_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB
None

### Only fill specific Row with new Data

In [46]:
print(df_data.info())
df_data["Calories"].fillna(130, inplace = True)
print(df_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB
None

C:\Users\0guhnt69\AppData\Local\Temp\ipykernel_2388\3671787111.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_data["Calories"].fillna(130, inplace = True)

### Replace Empty values with there MEAN

In [48]:
print(df_data.info())
x = df_data["Calories"].median()
df_data["Calories"].fillna(x, inplace = True)
print(df_data.info())
df_data.to_csv(r'Data/data with empty values MEDIAN.csv',index=False, header = True)

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB
None

C:\Users\0guhnt69\AppData\Local\Temp\ipykernel_2388\565840007.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_data["Calories"].fillna(x, inplace = True)